/*@media only screen and (min-width: 601px) {*/
  body {
    background: linear-gradient(to right, black, #151320, #251F44);
    margin: 0;
    color: white;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  
  body {
    font-family: 'Roboto', sans-serif;
  }

  div {
    margin: auto;
  }
  #caixa1 {
    height: 200px;
    width: 150px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAWSOgEhMLUK2nk0wWkB4nwkOoZi_pYEsWiT506IUH1Tb0pO6UAq5zV5zm&s=10);
    color: #580202;
  }
  #caixa2 {
    height: 200px;
    width: 150px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShMxhpjglXKb8PCXefk9H9DOKh5a236kSMOw&usqp=CAU);
  }
img {
  display: none;
}
  p, img {
    margin: auto;
  }

  #MSG-rolarParaBaixo {
    display: none;
    position: relative;
    top: 5px;
    padding: 2px;
    color: black;
    background: white;
  }

  .con_grupo {
    height: 50pt;
    width: 50pt;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #00000043;
    position: fixed;
    bottom: 15pt;
    right: 15pt;
    color: white;
    background: #151320;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  section {
    display: flex;
    background: transparent;
    overflow: auto;
    width: 100%;
  }
a {
  text-decoration: none;
  color: white;
}
  /*.h21045jl2 {
    display: none; /* Esconder o elemento no PC
  }*/
/*}*/