@media only screen and (max-width: 600px) { 
body {
  background: #151320;
  margin: 15px;
  color: white;
  background: linear-gradient(to right, black, #151320, #251F44);
    animation: intro 2s;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

div {
  margin: auto;
}

.box {
  height: 200px;
  width: 150px;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #151320;
  margin: 20px;
}

p, img {
  margin: auto;
}

#MSG-rolarParaBaixo {
  position: relative;
  top: 5px;
  padding: 2px;
  color: black;
  background: white;
}
  .con_grupo {
    height: 50pt;
    width: 50pt;
    border-radius: 100px;
    box-shadow: 3px 3px 5px #00000043;
    position: fixed;
    bottom: 15pt;
    right: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    background: #151320;
  }
  a {
  text-decoration: none;
  color: white;
}
section {
  display: inline-flex;
  background: transparent;
  overflow: auto;
  width: 100%;
}
img {
  height: 130px;
  width: 160px;
}
/*.h21045jl2 {
  height: 200px;
  width: 150px;
  border-radius: 20px;
  background: red;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;*/
  
   @keyframes intro {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
}