* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, transparent, #151320), url('/docs/Img/OIG1.png');
  background-size: cover;
  /* Ajusta a imagem para cobrir todo o elemento */
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Evita repetir a imagem */
  animation: intro 2s;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.caixa {
  position: relative;
  width: 320px;
  height: 320px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #151320;
}

.caixa::before,
.caixa::after {
  content: '';
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  z-index: -1;
  background: linear-gradient(45deg, #ff1919, #cb0000, #630000, #932200, #df3400, #ff4b14, #e10d00);
  background-size: 300%;
  border-radius: 8px;
  animation: animacaoborda 8s linear alternate infinite;
}

.caixa::after {
  filter: blur(50px);
}

@keyframes animacaoborda {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 300%;
  }
}

img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

i {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.con_grupo {
  height: 50pt;
  width: 50pt;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #00000043;
  position: fixed;
  bottom: 15pt;
  right: 15pt;
  color: white;
  background: #151320;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

@keyframes intro {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}