* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, transparent, #151320), url('Img/OIG1.png');
  background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetir a imagem */
  font-size: 12pt;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

section {
  display: inline-flex;
  padding:  auto;
  padding-top: 5px;
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
}

#div1, #div2, #div3, #div4 {
  margin: auto;
  border-radius: 100px;
  height: auto;
  width: 24%;
  color: ghostwhite;
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div1, #div2, #div3, #div4 {
  animation: 2s divColor infinite;
} @keyframes divColor {
  0% {
    background: #151320;
  }
  
  50% {
    background: #321919;
  }
  
  100% {
      background: #151320;
    }
}

.caixa {
  position: relative;
  width: 350px;
  height: 350px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #151320;
  text-align: center; /* Alinha o texto dentro da .caixa no centro */
  padding: 20px; /* Adiciona um espaçamento interno para o texto */
}

.caixa::before, .caixa::after {
  content: '';
  position: absolute;
  width: calc(100% + 27px);
  height: calc(100% + 27px);
  z-index: -1;
  background: linear-gradient(45deg, #ff1919, #cb0000, #630000, #932200, #df3400, #ff4b14, #e10d00);
  background-size: 300%;
  border-radius: 8px;
  animation: animacaoborda 8s linear alternate infinite;
  display: flex;
}

.caixa::after {
  filter: blur(50px);
}

@keyframes animacaoborda {
  0% {
    background-position: 0;
    }
  100% {
    background-position: 300%;
  }
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
    font-family: normal1;
    src: url(/Font/normal.otf);
  }
  
  @font-face {
    font-family: font1;
    src: url(/Font/Inlanders.otf);
  }
  
  h1, h2, h3 {
    color: white;
    font-family: font1;
    text-shadow: 2px 2px 2px #00000060;
    font-size: 18pt;
    text-transform: uppercase;
  }
  
  p, legend {
    font-family: normal1;
    width: 285pt;
  }
  
p{
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 20px;
}

#Pop-Up {
  color: whitesmoke;
  position: absolute;
  padding: 25px 25px 25px 25px;
  overflow-y: auto;
  z-index: 2;
  height: 100%;
}

#protection {
  background: #000000AD;
  filter: blur(50px);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

strong {
  color: red;
}